.search {
    display: flex;
    flex-direction: column;
    margin: 0 35px 0 25px;
}

.container {
    margin: 0 35px 0 25px;
}

input {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.481);
    border: 1px solid green;
    padding: 5px;
}

table {
    border-collapse: collpase;
}

th {
    background-color: rgba(4, 89, 61, 0.479);
    padding: 0 1em;
}

td {
    border-bottom: 1px solid green;
}

.center {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

@media  screen and (max-width: 750px) {
  .container {
    max-height: 550px;
    background-color: rgba(240, 255, 255, 0.319);
  }
  
    th,
    td,
    label,
    input {
        font-size: 0.8em;
    } 

    .container {
        overflow-y: scroll;
    }
}

@media  screen and (max-width: 500px) {
    .search {
        padding: 0 30px 0 20px;
    }

      th,
      td {
          font-size: 0.6em;
      } 

  }